@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.flexboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flexboxContainer > div {
  margin: 10px;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 48px;
}

#subtitle {
  font-size: 24px;
  color: #555;
}

a {
  text-decoration: none;
  color: #1a0dab;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 272px;
  height: 92px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* h1 */

/* #subtitle */

/* .flexboxContainer */

/*.flexboxContainer > div */

/* a */

/* img */

/* .flexboxContainer > div:hover */
