/* body */
.profile-card {
  padding: 20px;
  margin: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* profile-card */

/* cover-photo img */

/* profile-content */

/* profile-picture */

/* profile-info h2*/

/* profile-info title*/

/* profile-info bio*/

/* title */

/* bio */

/* social ul */

/* social a */

/* social img */
